In [2]:
def add():
    a=5
    b=10
    print(a+b)

In [3]:
add()

15

In [4]:
def add(x,y):
    print(x+y)

In [6]:
add(12.5,7)

19.5

In [12]:
#si=(p*r*t)/100
# create a function to find the sum of all the natural number between 1 to 50.
n=50
total = sum_natural_number(n)
print(f"The sum of the first {n} natural number is: {total}")

NameError: name 'sum_natural_number' is not defined

In [13]:
p=1000
r=2
t=10
def si(p,r,t):
    print((p*r*t/100))
si(p,r,t)

200.0

In [14]:
def sum(a,b):
    sum=0
    for i in range(a,b):
        sum+=i
    print(sum)
sum(1,51)

1275

In [16]:
# table of 2 using Function
def table(a=2):
    for i in range(1,11):
        print(f"{a}x{i} = {a*i}")

table(2)

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [27]:
def even(a,b):
    sum=0
    for i in range(a,b):
        if i%2!=0:
            sum+=i
        print(f"value of sum is {sum}")
    print(sum)

even(1,51)

value of sum is 1
value of sum is 1
value of sum is 4
value of sum is 4
value of sum is 9
value of sum is 9
value of sum is 16
value of sum is 16
value of sum is 25
value of sum is 25
value of sum is 36
value of sum is 36
value of sum is 49
value of sum is 49
value of sum is 64
value of sum is 64
value of sum is 81
value of sum is 81
value of sum is 100
value of sum is 100
value of sum is 121
value of sum is 121
value of sum is 144
value of sum is 144
value of sum is 169
value of sum is 169
value of sum is 196
value of sum is 196
value of sum is 225
value of sum is 225
value of sum is 256
value of sum is 256
value of sum is 289
value of sum is 289
value of sum is 324
value of sum is 324
value of sum is 361
value of sum is 361
value of sum is 400
value of sum is 400
value of sum is 441
value of sum is 441
value of sum is 484
value of sum is 484
value of sum is 529
value of sum is 529
value of sum is 576
value of sum is 576
value of sum is 625
value of sum is 625
625

In [17]:
def add(a,b):
    c=a+b
    print(c)
add(10,20)

30

In [22]:
def add(a,b):
    c=a+b
    print(c)
a_1=add(10,20)
print(a_1)

30
None

In [23]:
print(a_1)

None

In [20]:
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [24]:
def add(a,b):
    c=a+b
    return c
a_1=add(10,20)

In [16]:
#Anonymous Function
add=lambda a,b:a+b
add(12,8)

20

In [17]:
add(12.9,3)

15.9

In [14]:
try:
    num1 = int(input("Enter numerator: "))
    num2 = int(input("Enter denominator: "))
    result = num1 / num2

except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
    
except ValueError:
    print("Error: Please enter valid integers only!")

else:
    print("Result is", result)

finally:
    print(" Program ended, Thank You!")

Enter numerator:  54
Enter denominator:  0

Error: Cannot divide by zero!
 Program ended, Thank You!

In [10]:
def factorial(n):
    if n == 1:
         return 1
    return n * factorial(n-1)

print(factorial(5))

120

In [15]:
def reverse(s):
    return s[::-1]
str="heu"
reversed_str=reverse(str)
print(reversed_str)

ueh

In [21]:
def add(a, b):
    return a + b
add(2,3)

5

In [21]:
def add(a, b):
    return a + b
add(2,3)

5

In [19]:
def add(a, b):
    return a + b

In [20]:
def is_even(n):
    return n % 2 == 0

In [23]:
def square(n):
    return n * n

In [25]:
def is_even(n):
    return n % 2 == 0
is_even(6)

True

In [33]:
def factorial(n):
    if n < 0:
        raise ValueError("Negative numbers not allowed")
    return 1 
    if n in (0, 1): 
        else n * factorial(n - 1):
factorial(6)

SyntaxError: invalid syntax (2130689458.py, line 6)

In [34]:
def max_in_list(lst):
    if not lst:
        return None
    return max(lst)

In [37]:
def count_vowels(s):
    return sum(1 for ch in s.lower() if ch in "aeiou")
count_vowels(s)

NameError: name 's' is not defined

In [43]:
def count_vowels(s):
    return sum(1 for ch in s.lower() if ch in "aeiou")
    s = Rohit
print(count_vowels(s))

NameError: name 's' is not defined

In [44]:
def square_power(n):
    # Raise n to the power of 2
    return n ** 2