In [2]:
def add():
    a=5
    b=10
    print(a+b)

In [3]:
add()

15

In [4]:
def add(x,y):
    print(x+y)

In [6]:
add(12.5,7)

19.5

In [12]:
#si=(p*r*t)/100
# create a function to find the sum of all the natural number between 1 to 50.
n=50
total = sum_natural_number(n)
print(f"The sum of the first {n} natural number is: {total}")

NameError: name 'sum_natural_number' is not defined

In [13]:
p=1000
r=2
t=10
def si(p,r,t):
    print((p*r*t/100))
si(p,r,t)

200.0

In [14]:
def sum(a,b):
    sum=0
    for i in range(a,b):
        sum+=i
    print(sum)
sum(1,51)

1275

In [16]:
# table of 2 using Function
def table(a=2):
    for i in range(1,11):
        print(f"{a}x{i} = {a*i}")

table(2)

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [27]:
def even(a,b):
    sum=0
    for i in range(a,b):
        if i%2!=0:
            sum+=i
        print(f"value of sum is {sum}")
    print(sum)

even(1,51)

value of sum is 1
value of sum is 1
value of sum is 4
value of sum is 4
value of sum is 9
value of sum is 9
value of sum is 16
value of sum is 16
value of sum is 25
value of sum is 25
value of sum is 36
value of sum is 36
value of sum is 49
value of sum is 49
value of sum is 64
value of sum is 64
value of sum is 81
value of sum is 81
value of sum is 100
value of sum is 100
value of sum is 121
value of sum is 121
value of sum is 144
value of sum is 144
value of sum is 169
value of sum is 169
value of sum is 196
value of sum is 196
value of sum is 225
value of sum is 225
value of sum is 256
value of sum is 256
value of sum is 289
value of sum is 289
value of sum is 324
value of sum is 324
value of sum is 361
value of sum is 361
value of sum is 400
value of sum is 400
value of sum is 441
value of sum is 441
value of sum is 484
value of sum is 484
value of sum is 529
value of sum is 529
value of sum is 576
value of sum is 576
value of sum is 625
value of sum is 625
625

In [17]:
def add(a,b):
    c=a+b
    print(c)
add(10,20)

30

In [22]:
def add(a,b):
    c=a+b
    print(c)
a_1=add(10,20)
print(a_1)

30
None

In [23]:
print(a_1)

None

In [20]:
def add(a,b):
    c=a+b
    return c
add(10,20)

30

In [24]:
def add(a,b):
    c=a+b
    return c
a_1=add(10,20)

In [ ]:
#Anonymous Function
add=lambda a,b:a+b

In [25]:
add(12.9,3)

15.9